[submodule "subprojects/rellume"]
	path = subprojects/rellume
	url = git@github.com:CappuccinoCup/rellume.git
[submodule "subprojects/fadec"]
	path = subprojects/fadec
	url = git@github.com:CappuccinoCup/fadec.git
[submodule "subprojects/frvdec"]
	path = subprojects/frvdec
	url = git@github.com:CappuccinoCup/frvdec.git
[submodule "subprojects/farmdec"]
	path = subprojects/farmdec
	url = git@github.com:CappuccinoCup/farmdec.git
